// Import the css breakpoint functions
@import "../../breakpoints.scss";

// for phone devices
@include media("<=phone") {
  section {
    position: relative;

    span {
      position: absolute;
      top: 2px;
      right: 0px;
      background: rgb(47, 49, 47);
      padding: 7px;
      font-size: 20px;
      color: whitesmoke;
      cursor: pointer;
    }
    article {
      background: blueviolet;
      position: relative;
      display: block;
      height: 500px;

      i {
        font-size: 32px;
        margin: 10px;
        color: whitesmoke;
        position: absolute;
        right: 5px;
        background: rgb(58, 56, 56);
        border-radius: 25px;
        cursor: pointer;
      }
    }
  }
}
